@page
@model PRazorSimple.Pages.AboutModel
@{
}
<!-- we don't use the above declarations -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page About.cshtml</title>
</head>
<body>
    <h1>ABOUT Page</h1>

    <p>
        That is a csHTML page
    </p>

    <p>
        Author: JanLukSoft<br />
        My <a href="https://github.com/janluksoft">GitHub</a>
    </p>

    <p>
        Return to <a href="/Index">Home page</a>
    </p>

</body>
</html>
