@page
<!--
    @@page says it is Asp.net core Razor pages and not MVC or other pages.
-->

<!--
    This is the simplest Razor-Pages project that can be.
    It has two html (cshtml) pages without using other Razor mechanisms. 
    
    There are a lot of examples of Razor-Pages on the internet using the sample page creator. 
    There are a lot of unnecessary files on such a page and a beginner does not know which files are the most important. 
    Therefore, this project is created by manually adding only the necessary folders and files.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Index.cshtml</title>
</head>
<body>
    This is the simplest Razor-Pages project that can be. <br /><br />

    That is a HTML page from 'Index.cshtml' file.<br />
    Typically you run this site on an 'IIS Express' server on your Win10

    <p>
        <a href="/About">About</a>

    </p>

</body>
</html>

